@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(41, 41, 41);
    color: white;
}

/* CABEÇALHO */

header {
    width: 100%;
    padding-bottom: 2%;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
}
header > img {
    width: 300px;
    text-align: center;
    margin-left: 20%;
    margin-top: 5%;
}

header > menu {
    width: 30vw;
    display: none;    
}

i#burger {
    
    display: block;
    color: white;
    margin-left: 5vw;
    padding-bottom: 1%;
    cursor: pointer;
}
i#burger:hover {
    color: darkviolet;
}


header > menu > ul > li {
    list-style-type: none;   
    border-radius: 5px;
}

header > menu > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
    margin-left: 2vw;
}

header > menu > ul > li:hover {
    background-color: rgba(169, 169, 169, 0.336);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
    color: darkviolet;
    transition: background-color .5s;
}

/* TRABALHOS */

main {
    width: 95vw;
    padding-top: 5%;
}

main > section {
    padding-bottom: 7vh;
}

main > section#trabalhos > h1 {
    text-align: center;
    padding-bottom: 2vh;
    border-bottom: 1px solid white;
    width: 100%;
}

main > section#trabalhos > div.polaroid {
    background: url(../imagensMontagem/polaroid.jpg) center no-repeat;
    background-size: contain;
    height: 50vh;
}

div.polaroid {
    margin: 2vh;
}

main > section#trabalhos > a {
    text-decoration: none;
    color: white;
    font-size: bolder;
    float: right;
    margin-right: 2vh;
}

main > section#trabalhos > a:hover {
    color: darkviolet;
    text-shadow: 2px 2px 5px black;
}

/* DEPOIMENTOS */

main > section#depoimentos {
    width: 100%;
    margin: auto;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}

main > section#depoimentos > h1 {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.479);
    padding: 1vh;
    margin-bottom: 3vh;
}

main > section#depoimentos > article > div#imgdepo {
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    background: url(../imagensMontagem/IMG_0361-2.jpg) center center;
    background-size: cover;
    text-align: center;
}

main > section#depoimentos > article > div#imgdepo > h3 {
    display: block;
    position: relative;
    bottom: -100%;
}

main > section#depoimentos > article > div#depoimento {
    width: 80vw;
    margin: auto;
    padding-top: 5vh;
    text-align: justify;
}

main > section#depoimentos > a {
    text-decoration: none;
    color: white;
    font-size: bolder;
    float: left;
    position: relative;
    margin: 20px;
}

main > section#depoimentos > a:hover {
    color: darkviolet;
    text-shadow: 2px 2px 5px black;
}

/* RODAPÉ */

footer {
    width: 100%;
    background-color: black;
    margin: auto;
    margin-top: 3vh;
    padding: 2vw;
}

footer > section > div#rodape {
    width: 100%;
    border-bottom: 1px solid white;
}

footer > section > div#rodape > h1 {
    font-size: 1em;
    display: inline;
    margin: 2vw;
}

div#rodape > h1#nosdoi {
text-align: left;
}

div#rodape > h1#contatos {
    text-align: right;
}

div#sobreNos {
    width: 30vw;
    float: left;
    background-color: gray;
}

div#contato {
    width: 30vw;
    float: right;
    background-color: rgb(160, 153, 153);
}

footer > section > div > a > img {
    width: 50px;
}


